		<script>
		  $("#<%= @last_sign %>").prop("selected", "selected")
		
		</script>

		<form action="/games" method="post">
  			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<select name="sign" id="sign">
				<option id ="rock" value="rock">Rock</option>
				<option id="paper" value="paper">Paper</option>
				<option id="scissors" value="scissors">Scissors</option>
			</select><br />
			<input type="submit" value="Play!">
		</form>
	